  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">Please Check the dev tools Console to see API Response</a>
    </div>
    <div class="carousel-item #00838f cyan darken-3 white-text" href="#one!">
      <h2>Buy your Dream Car</h2>
      <p class="white-text">Call us to book a test drive</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Do you like this one?</h2>
      <p class="white-text">Eco-friendly Cars</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Look at this one....</h2>
      <p class="white-text">It looks really cool</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>how about this one?</h2>
      <p class="white-text">Cool car with awesome performance</p>
    </div>
  </div>
        